# Les ligne commençant par '#' sont des commentaires.

# Ignorer tous les fichiers nommés foo.txt
#foo.txt

# Ignorer tous les fichiers html
#*.html

# à l'exception de foo.html qui est maintenu à la main
#!foo.html

# Ignorer les objets et les archives
#*.[oa]



########## GITIGNORE SOFA-DEV ##############

# Ignorer les fichiers de configuration (charge à chaque utilisateur de le modifier)
share/config/plugins.cfg
sofa-default.cfg

# Ignorer tous les fichiers orig
*.orig

# Ignorer tous les fichiers et dossiers du repertoire bin/
bin/

# Ignorer tous les fichiers et dossiers du repertoire lib/
lib/

Makefile
applications/Makefile
applications/plugins/Makefile
applications/plugins/PluginExample/Makefile
applications/plugins/PluginExample/OBJ/
applications/plugins/PluginExample/moc_CustomDataUnsignedWidget.cpp
applications/plugins/PluginExample/moc_MyDataWidgetUnsigned.cpp
applications/plugins/QtOgreViewer/QtOgreViewer.pro.orig
applications/projects/GenerateRigid/Makefile
applications/projects/GenerateRigid/OBJ/
applications/projects/Makefile
applications/projects/Modeler/Makefile
applications/projects/Modeler/exec/Makefile
applications/projects/Modeler/exec/OBJ/
applications/projects/Modeler/lib/DialogAddPreset.cpp
applications/projects/Modeler/lib/DialogAddPreset.h
applications/projects/Modeler/lib/Makefile
applications/projects/Modeler/lib/Modeler.cpp
applications/projects/Modeler/lib/Modeler.h
applications/projects/Modeler/lib/OBJ/
applications/projects/Modeler/lib/PluginManager.cpp
applications/projects/Modeler/lib/PluginManager.h
applications/projects/Modeler/lib/moc_AddPreset.cpp
applications/projects/Modeler/lib/moc_DialogAddPreset.cpp
applications/projects/Modeler/lib/moc_FilterLibrary.cpp
applications/projects/Modeler/lib/moc_GlobalModification.cpp
applications/projects/Modeler/lib/moc_GraphHistoryManager.cpp
applications/projects/Modeler/lib/moc_GraphModeler.cpp
applications/projects/Modeler/lib/moc_Modeler.cpp
applications/projects/Modeler/lib/moc_PluginManager.cpp
applications/projects/Modeler/lib/moc_QCategoryTreeLibrary.cpp
applications/projects/Modeler/lib/moc_QComponentTreeLibrary.cpp
applications/projects/Modeler/lib/moc_QSofaTreeLibrary.cpp
applications/projects/Modeler/lib/moc_SofaModeler.cpp
applications/projects/Modeler/lib/moc_SofaPluginManager.cpp
applications/projects/Modeler/lib/moc_SofaTutorialManager.cpp
applications/projects/Modeler/lib/moc_TutorialSelector.cpp
applications/projects/generateDoc/Makefile
applications/projects/generateDoc/OBJ/
applications/projects/generateTypedefs/Makefile
applications/projects/generateTypedefs/OBJ/
applications/projects/meshconv/Makefile
applications/projects/meshconv/OBJ/
applications/projects/runSofa/Makefile
applications/projects/runSofa/OBJ/
applications/projects/sofaConfiguration/Makefile
applications/projects/sofaConfiguration/exec/Makefile
applications/projects/sofaConfiguration/exec/OBJ/
applications/projects/sofaConfiguration/exec/moc_SofaConfiguration.cpp
applications/projects/sofaConfiguration/execLocal/Makefile
applications/projects/sofaConfiguration/execLocal/OBJ/
applications/projects/sofaConfiguration/execLocal/moc_SofaConfiguration.cpp
applications/projects/sofaInitTimer/Makefile
applications/projects/sofaInitTimer/OBJ/
applications/projects/sofaVerification/Makefile
applications/projects/sofaVerification/OBJ/
applications/sofa/Makefile
applications/sofa/gui/Makefile
applications/sofa/gui/glut/Makefile
applications/sofa/gui/glut/OBJ/
applications/sofa/gui/libgui/Makefile
applications/sofa/gui/libgui/OBJ/
applications/sofa/gui/libguimain/Makefile
applications/sofa/gui/libguimain/OBJ/
applications/sofa/gui/Makefile.libgui
applications/sofa/gui/Makefile.libguimain
applications/sofa/gui/OBJ/
applications/sofa/gui/qt/UI/
applications/sofa/gui/qt/moc_DisplayFlagsDataWidget.cpp
applications/sofa/gui/qt/BaseGenGraphForm.cpp
applications/sofa/gui/qt/BaseGenGraphForm.h
applications/sofa/gui/qt/DialogAddObject.cpp
applications/sofa/gui/qt/DialogAddObject.h
applications/sofa/gui/qt/GUI.cpp
applications/sofa/gui/qt/GUI.h
applications/sofa/gui/qt/Makefile
applications/sofa/gui/qt/MouseManager.cpp
applications/sofa/gui/qt/MouseManager.h
applications/sofa/gui/qt/OBJ/
applications/sofa/gui/qt/PluginManager.cpp
applications/sofa/gui/qt/PluginManager.h
applications/sofa/gui/qt/SofaPluginManager.cpp.orig
applications/sofa/gui/qt/VideoRecorderManager.cpp
applications/sofa/gui/qt/VideoRecorderManager.h
applications/sofa/gui/qt/VisitorGUI.cpp
applications/sofa/gui/qt/VisitorGUI.h
applications/sofa/gui/qt/moc_AddObject.cpp
applications/sofa/gui/qt/moc_BaseGenGraphForm.cpp
applications/sofa/gui/qt/moc_DataFilenameWidget.cpp
applications/sofa/gui/qt/moc_DataWidget.cpp
applications/sofa/gui/qt/moc_DialogAddObject.cpp
applications/sofa/gui/qt/moc_DisplayFlagWidget.cpp
applications/sofa/gui/qt/moc_GUI.cpp
applications/sofa/gui/qt/moc_GenGraphForm.cpp
applications/sofa/gui/qt/moc_GraphDataWidget.cpp
applications/sofa/gui/qt/moc_MaterialDataWidget.cpp
applications/sofa/gui/qt/moc_ModifyObject.cpp
applications/sofa/gui/qt/moc_MouseManager.cpp
applications/sofa/gui/qt/moc_PluginManager.cpp
applications/sofa/gui/qt/moc_QDataDescriptionWidget.cpp
applications/sofa/gui/qt/moc_QDisplayDataWidget.cpp
applications/sofa/gui/qt/moc_QEnergyStatWidget.cpp
applications/sofa/gui/qt/moc_QModelViewTableUpdater.cpp
applications/sofa/gui/qt/moc_QMouseOperations.cpp
applications/sofa/gui/qt/moc_QSofaListView.cpp
applications/sofa/gui/qt/moc_QSofaRecorder.cpp
applications/sofa/gui/qt/moc_QSofaStatWidget.cpp
applications/sofa/gui/qt/moc_QTabulationModifyObject.cpp
applications/sofa/gui/qt/moc_QTransformationWidget.cpp
applications/sofa/gui/qt/moc_QVisitorControlPanel.cpp
applications/sofa/gui/qt/moc_QtGLViewer.cpp
applications/sofa/gui/qt/moc_QtViewer.cpp
applications/sofa/gui/qt/moc_RealGUI.cpp
applications/sofa/gui/qt/moc_SimpleDataWidget.cpp
applications/sofa/gui/qt/moc_SofaMouseManager.cpp
applications/sofa/gui/qt/moc_SofaPluginManager.cpp
applications/sofa/gui/qt/moc_SofaVideoRecorderManager.cpp
applications/sofa/gui/qt/moc_VideoRecorderManager.cpp
applications/sofa/gui/qt/moc_VisitorGUI.cpp
applications/sofa/gui/qt/moc_WDoubleLineEdit.cpp
applications/sofa/gui/qt/moc_WindowVisitor.cpp
applications/sofa/gui/qt/viewer/VisualModelPolicy.h.orig
applications/plugins/QtOgreViewer/OBJ/
applications/plugins/QtOgreViewer/moc_QOgreLightWidget.cpp
applications/plugins/QtOgreViewer/moc_QtOgreViewer.cpp
examples/Tutorials/Mappings/temp3.scn.view
examples/SandBox/preconditioners/bench_precond2/LDL_CG.scn
examples/SandBox/preconditioners/bench_precond2/LDL_parallel.scn
examples/SandBox/preconditioners/bench_precond2/LDL_update.scn
examples/SandBox/preconditioners/bench_precond2/LDL_update_warp.scn
examples/SandBox/preconditioners/bench_precond2/LDL_update_warp_GPU.scn
examples/SandBox/preconditioners/bench_precond2/LDL_warp_parallel.scn
examples/SandBox/preconditioners/bench_precond2/LDL_warp_parallel_GPU.scn
extlibs/eigen-3.0.1/Makefile.eigen
extlibs/libQGLViewer-2.3.3/QGLViewer/.moc/
extlibs/libQGLViewer-2.3.3/QGLViewer/Makefile
extlibs/libQGLViewer-2.3.3/QGLViewer/OBJ/
extlibs/libQGLViewer-2.3.3/QGLViewer/ui_ImageInterface.Qt4.h
extlibs/libQGLViewer-2.3.3/QGLViewer/ui_VRenderInterface.Qt4.h
extlibs/libQGLViewer-2.3.3/QGLViewer/UI/
extlibs/libQGLViewer-2.3.3/QGLViewer/moc_camera.cpp
extlibs/libQGLViewer-2.3.3/QGLViewer/moc_frame.cpp
extlibs/libQGLViewer-2.3.3/QGLViewer/moc_keyFrameInterpolator.cpp
extlibs/libQGLViewer-2.3.3/QGLViewer/moc_manipulatedCameraFrame.cpp
extlibs/libQGLViewer-2.3.3/QGLViewer/moc_manipulatedFrame.cpp
extlibs/libQGLViewer-2.3.3/QGLViewer/moc_qglviewer.cpp
extlibs/miniFlowVR/Makefile
extlibs/miniFlowVR/OBJ/
extlibs/newmat/Makefile
extlibs/newmat/OBJ/
extlibs/qwt-5.2.0/src/Makefile
extlibs/qwt-5.2.0/src/OBJ/
extlibs/qwt-5.2.0/src/moc/
extlibs/qwt-5.2.0/src/moc_qwt_abstract_slider.cpp
extlibs/qwt-5.2.0/src/moc_qwt_analog_clock.cpp
extlibs/qwt-5.2.0/src/moc_qwt_compass.cpp
extlibs/qwt-5.2.0/src/moc_qwt_counter.cpp
extlibs/qwt-5.2.0/src/moc_qwt_dial.cpp
extlibs/qwt-5.2.0/src/moc_qwt_dyngrid_layout.cpp
extlibs/qwt-5.2.0/src/moc_qwt_knob.cpp
extlibs/qwt-5.2.0/src/moc_qwt_legend.cpp
extlibs/qwt-5.2.0/src/moc_qwt_legend_item.cpp
extlibs/qwt-5.2.0/src/moc_qwt_magnifier.cpp
extlibs/qwt-5.2.0/src/moc_qwt_panner.cpp
extlibs/qwt-5.2.0/src/moc_qwt_picker.cpp
extlibs/qwt-5.2.0/src/moc_qwt_plot.cpp
extlibs/qwt-5.2.0/src/moc_qwt_plot_canvas.cpp
extlibs/qwt-5.2.0/src/moc_qwt_plot_magnifier.cpp
extlibs/qwt-5.2.0/src/moc_qwt_plot_panner.cpp
extlibs/qwt-5.2.0/src/moc_qwt_plot_picker.cpp
extlibs/qwt-5.2.0/src/moc_qwt_plot_zoomer.cpp
extlibs/qwt-5.2.0/src/moc_qwt_scale_widget.cpp
extlibs/qwt-5.2.0/src/moc_qwt_slider.cpp
extlibs/qwt-5.2.0/src/moc_qwt_text_label.cpp
extlibs/qwt-5.2.0/src/moc_qwt_thermo.cpp
extlibs/qwt-5.2.0/src/moc_qwt_wheel.cpp
extlibs/tinyxml/Makefile
extlibs/tinyxml/OBJ/
framework/Makefile
framework/sofa/Makefile
framework/sofa/core/Makefile
framework/sofa/core/OBJ/
framework/sofa/defaulttype/Makefile
framework/sofa/defaulttype/OBJ/
framework/sofa/helper/Makefile
framework/sofa/helper/OBJ/
modules/Makefile
modules/sofa/Makefile
modules/sofa/component/animationloop/OBJ/
modules/sofa/component/Makefile
modules/sofa/component/Makefile.libbase
modules/sofa/component/Makefile.libcomponent
modules/sofa/component/OBJ/
modules/sofa/component/behaviormodel/Makefile
modules/sofa/component/behaviormodel/OBJ/
modules/sofa/component/collision/Makefile
modules/sofa/component/collision/OBJ/
modules/sofa/component/configurationsetting/Makefile
modules/sofa/component/configurationsetting/OBJ/
modules/sofa/component/constraintset/Makefile
modules/sofa/component/constraintset/OBJ/
modules/sofa/component/contextobject/Makefile
modules/sofa/component/contextobject/OBJ/
modules/sofa/component/controller/Makefile
modules/sofa/component/controller/OBJ/
modules/sofa/component/engine/Makefile
modules/sofa/component/engine/OBJ/
modules/sofa/component/fem/Makefile
modules/sofa/component/fem/OBJ/
modules/sofa/component/forcefield/Makefile
modules/sofa/component/forcefield/OBJ/
modules/sofa/component/interactionforcefield/Makefile
modules/sofa/component/interactionforcefield/OBJ/
modules/sofa/component/linearsolver/Makefile
modules/sofa/component/linearsolver/OBJ/
modules/sofa/component/loader/Makefile
modules/sofa/component/loader/OBJ/
modules/sofa/component/mapping/Makefile
modules/sofa/component/mapping/OBJ/
modules/sofa/component/mass/Makefile
modules/sofa/component/mass/OBJ/
modules/sofa/component/mastersolver/Makefile
modules/sofa/component/mastersolver/OBJ/
modules/sofa/component/misc/Makefile
modules/sofa/component/misc/OBJ/
modules/sofa/component/odesolver/Makefile
modules/sofa/component/odesolver/OBJ/
modules/sofa/component/projectiveconstraintset/Makefile
modules/sofa/component/projectiveconstraintset/OBJ/
modules/sofa/component/visualmodel/Makefile
modules/sofa/component/visualmodel/OBJ/
modules/sofa/component/Makefile.sofa_advanced_constraint
modules/sofa/component/Makefile.sofa_advanced_fem
modules/sofa/component/Makefile.sofa_advanced_interaction
modules/sofa/component/Makefile.sofa_base_animation_loop
modules/sofa/component/Makefile.sofa_base_collision
modules/sofa/component/Makefile.sofa_base_linear_solver
modules/sofa/component/Makefile.sofa_base_mechanics
modules/sofa/component/Makefile.sofa_base_topology
modules/sofa/component/Makefile.sofa_base_visual
modules/sofa/component/Makefile.sofa_boundary_condition
modules/sofa/component/Makefile.sofa_component
modules/sofa/component/Makefile.sofa_component_advanced
modules/sofa/component/Makefile.sofa_component_base
modules/sofa/component/Makefile.sofa_component_common
modules/sofa/component/Makefile.sofa_component_general
modules/sofa/component/Makefile.sofa_component_misc
modules/sofa/component/Makefile.sofa_constraint
modules/sofa/component/Makefile.sofa_deformable
modules/sofa/component/Makefile.sofa_dense_solver
modules/sofa/component/Makefile.sofa_eigen2_solver
modules/sofa/component/Makefile.sofa_engine
modules/sofa/component/Makefile.sofa_eulerian_fluid
modules/sofa/component/Makefile.sofa_explicit_ode_solver
modules/sofa/component/Makefile.sofa_exporter
modules/sofa/component/Makefile.sofa_graph_component
modules/sofa/component/Makefile.sofa_haptics
modules/sofa/component/Makefile.sofa_implicit_ode_solver
modules/sofa/component/Makefile.sofa_loader
modules/sofa/component/Makefile.sofa_mesh_collision
modules/sofa/component/Makefile.sofa_misc
modules/sofa/component/Makefile.sofa_misc_collision
modules/sofa/component/Makefile.sofa_misc_collision_dev
modules/sofa/component/Makefile.sofa_misc_dev
modules/sofa/component/Makefile.sofa_misc_engine
modules/sofa/component/Makefile.sofa_misc_fem
modules/sofa/component/Makefile.sofa_misc_fem_dev
modules/sofa/component/Makefile.sofa_misc_forcefield
modules/sofa/component/Makefile.sofa_misc_forcefield_dev
modules/sofa/component/Makefile.sofa_misc_mapping
modules/sofa/component/Makefile.sofa_misc_mapping_dev
modules/sofa/component/Makefile.sofa_misc_solver
modules/sofa/component/Makefile.sofa_misc_solver_dev
modules/sofa/component/Makefile.sofa_misc_topology
modules/sofa/component/Makefile.sofa_misc_topology_dev
modules/sofa/component/Makefile.sofa_mjed_fem
modules/sofa/component/Makefile.sofa_non_uniform_fem
modules/sofa/component/Makefile.sofa_object_interaction
modules/sofa/component/Makefile.sofa_opengl_visual
modules/sofa/component/Makefile.sofa_preconditioner
modules/sofa/component/Makefile.sofa_rigid
modules/sofa/component/Makefile.sofa_simple_fem
modules/sofa/component/Makefile.sofa_sph_fluid
modules/sofa/component/Makefile.sofa_topology_mapping
modules/sofa/component/Makefile.sofa_user_interaction
modules/sofa/component/Makefile.sofa_validation
modules/sofa/component/Makefile.sofa_volumetric_data
modules/sofa/filemanager/Makefile
modules/sofa/gpu/Makefile
modules/sofa/simulation/Makefile
modules/sofa/simulation/bgl/Makefile
modules/sofa/simulation/bgl/OBJ/
modules/sofa/simulation/common/Makefile
modules/sofa/simulation/common/OBJ/
modules/sofa/simulation/tree/Makefile
modules/sofa/simulation/tree/OBJ/
share/config/Modeler.ini
share/config/Sofa.ini
share/config/Ogre.log
share/config/plugins.cfg
share/screenshots/
sofa-local.cfg
sofa-local.prf
Sofa.pro.user

# let's try using wildcards shall we ?
Makefile*
*.o
moc_*.cpp
*~
/share/config/sofaplugins_release.ini
