<html>
  <head>
    <link href="../../Objects/sofa_white.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
      <div id="contenu">

        <center><h3>chainHybridNoGroup.scn</h3></center>

        <div id="orangeText">Description:</div>
        <br>
        Scene using the LinearForceField, a force field that applies changing
        force on some DOFs of the scene. We define some key times and
        the associated forces at those times. Then between key times the force
        to be applied is linearly interpolated.

        <br>
        <div id="orangeText">Interesting Point:</div>
        <br>
        The two tori get forces making them get accelerations on two different
        directions. At some time, the force is inverted, so slowly the sens of
        the tori movements become to change.</div>
    </body>
  </html>

