<html>


<body bgcolor="#F0F8FF">

	<div id="contenu">

		<h1>Mechanical matrix mapper</h1>
		
		<p>In this scene we demonstrate how to use the <FONT COLOR="#0B2161">MechanicalMatrixMapper</FONT> component. This component allows to map mechanical matrices (Stiffness, Mass) through a mapping.
  <p>This is needed in SOFA scenes having these two following particularities:
  <p> -- There are using a direct solver (e.g. SparseLDLSolver) that, unlike
     iterative solvers, need to build the mechanical matrices.
  <p> -- They involves ForceFields that implement addKToMatrix (i.e. that compute internal forces such as e.g. TetrahedronFEMForceField,
     TetrahedronHyperElasticityFEMForceField, but not ConstantForceField which only contributes to the right-hand side) and that
     ARE USED UNDER mappings. In this scene, the <FONT COLOR="#0B2161">HexaHedronFEMForceField</FONT> is used under a <FONT COLOR="#0B2161">SubsetMultiMapping</FONT> and a  <FONT COLOR="#0B2161">RigidMapping</FONT>), and the MechanicalMatrixMapper is needed to map that ForceField to the degrees of freedom closer to the root in the scene graph.
     
  <p>Without this component, such a scene either crashes or gives unlogical behaviour.

		<br>
               
	</div>

</body>

</html>
