body
{
	margin: 10px 0;
	padding: 0;
	text-align: justify;
	background: #FFF;
	color: #EEE;
  	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 10pt;
	line-height: 110%;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;

}

a:link {  color: #F96600 }  /* for unvisited links */
a:visited { color: #db5a00 } /* for visited links */
a:hover { color: #F96600 } /* when mouse is over link */
a:active { color: #EE0000 } /* when link is clicked */

  
div#conteneur
{
	width: 1000px;
	margin: auto;
	text-align: left;
	background: #FFF;	
	position: relative;
}

h1#header
{
	height: 170px;
	margin: 0;
	background: url(sofa_banner_white.png) no-repeat center top;
	border-top: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}

div#contenu h1
{
	padding-left: 5px;
	line-height: 20px;
	font: normal 28px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #222;
	letter-spacing: 2px;
	font-variant: small-caps;
	text-align: center;
}

div#contenu h2
{
	padding-left: 10px;
	line-height: 20px;
	font: normal 20px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #222;
	letter-spacing: 2px;
	font-variant: small-caps;
	text-align: center;
}

div#contenu h3
{
	margin-left: 15px ;
	padding-left: 5px ;
	color: #333;
	border: 0px solid #FFF;
}

div#contenu
{
	width: 960px;
	margin: auto;
	margin-top: 32px;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	background: #E6ECF6;
	color: #222;
	border-top: 2px solid #DDD;
	border-left: 2px solid #DDD;
	border-right: 2px solid #DDD;
	border-bottom: 2px solid #DDD;
	text-align: justify;
}

img {
	border: 0;
}

caption {
	padding: 0 0 5px 0;
	width: 700px;	 
	font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-align: right;
}

th {
	font: normal 20px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #222;
	letter-spacing: 2px;
	font-variant: small-caps;
	text-align: center;
	padding: 15px 6px 6px 6px;
	background: none;
}

td {
	font: normal 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	line-height: 125%;
}

td.alt {
	background: #F5FAFA;
	color: #797268;
}

ul li.square {
	font: normal 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	line-height: 140%;
	list-style: square;
	list-style-image: url(images/square.png);
} 

div#orangeText {
	color: #FF5F09;
}

div#tutorialAction {
	font-style: italic;
}	

.news {
	clear: both;
	margin-top: 12px;
}

.news-icon {
	float: left;
	width: 32px;
	height: 32px;
	margin-right: 5px;
	border: 0px;
}

.news-header {
	margin-bottom: 4px;
	margin-left: 16px;
	color: #FF5F09;
	border-bottom: 1px solid #aaa;
}

.news-date {
	float: right;
	color: #666;
}

.news-newdate {
	float: right;
	color: red;
	font-weight: bold;
}

.news-content {
	margin-left: 42px;
}

div#sitemap
{

}

div#footer
{
	margin: 0px;
	padding: 0px;	
	line-height: 30px;
	text-align: right;
	color: #555;
	font-size: 9px;	
}

div#sofaimgpage
{
	margin-top: 550px;
	margin-left: 50px;
	width: 200px;
	height: 100px;
	padding: 0px;	
	line-height: 30px;
	text-align: right;
	color: #FFF;
	font-size: 0.8em;	
	background: transparent url(pouet_pouet.png) no-repeat ;
	position: absolute;
}

#sofaMenu
{
	width: 1000px;
	list-style-type: none;
	margin: auto;
	margin-left: 0px;
	padding-left: 0px;
	position: absolute;
	z-index: 2;
	border-top: 1px solid #FFF;
	font-size: 20px;
	line-height: 120%;
}

#sofaMenu li
{
	float: left;
	width: 200px;
	margin: 0;
	padding: 0;
	border: 0;	
}

#sofaMenu li img
{
	border: 0;
}

#sofaMenu li a:link, #sofaMenu li a:visited
{
	display: block;
	color: #FF5F09;
	background: #FFF;
	margin: 0;
	text-decoration: none;	
	text-align: center;
}

#sofaMenu li a:hover { 
	color: #FFF; 
	background-color: #FF5F09; 
}

#sofaMenu li a:active { 
	color:#FFF; 
	background-color: #222; 
}

#sofaMenu .sofaMenuItem
{
	display: none;
	list-style-type: none;
	margin: 0;
	padding-left: 0;
	/* padding-top: 10px; */
	margin-top: 10px;
	border: 0;	
	font-size: 14px;
	font-weight: normal;
	line-height: 160%;
}

#sofaMenu .sofaMenuItem li
{
	/* float: none; */
	margin: 0;
	padding-top: 0;
	border: 0;
	width: 200px;	
}

#sofaMenu .sofaMenuItem li a:link, #sofaMenu .sofaMenuItem li a:visited
{
	display: block;
	color: #000;
	margin: 0;
	border: 0;
	text-decoration: none;
	background: transparent url("menu_bg_transparent_white.png") repeat;
}

#sofaMenu .sofaMenuItem li a:hover
{
	background-image: none;
	background-color: #FF5F09;
}

#sofaMenu li:hover > .sofaMenuItem { display: block; }

div#sofa_bg 
{
	display: none;
	background: url(sofa_alpha_bg.png);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
 	width: 100%;
	z-index: 3;
}

div#sofa_bg img 
{
	position: absolute;
	display: block;
	z-index: 3;
}

div#sofa_frame 
{
	display: none;
	position: absolute;
	background: url(transp.png);
	width: 900px;
	height: 700px;	
	z-index: 3;
}

div#sofa_frame img {
	position: relative;
	top: 50px;
	left: -10px;
	border: none;
	z-index: 3;
}

.wrap1, .wrap2, .wrap3 
{ 
	display:inline-table;  
	display:block;
	position:relative; 
} 

.wrap1 
{ 
	float:left; 
	background:url(shadows/03/shadow.png) right bottom no-repeat;
} 

.wrap2 
{ 
	background:url(shadows/03/corner_bl.png) -12px 100% no-repeat;
} 

.wrap3 
{ 
	padding:0 9px 9px 0; 
	background:url(shadows/03/corner_tr.png) 100% -12px no-repeat;
} 

.sofa-template-header {
  font-weight : bold; 
  font-size : 75%;
  color: black;
}

.sofa-header {
  font-weight : bold; 
  color: black;
}

.sofa-classes {
  padding: 0px;
  border: 1px solid #bbb;
  margin: 0px;
  border-spacing: 0px;
}

tr.sofa-header td {
  border-bottom: 1px solid #bbb;
  margin-bottom: 5px;
}

tr.sofa-class td {
  border-top: 1px solid #bbb;
  margin-top: 5px;
}

.sofa-template {
  border-left: 1px solid #bbb;
  padding: 5px;
}

.sofa-template-header {
  border-left: 1px solid #bbb;
  font-size: 75%;
}

.sofa-name {
  border-left: 1px solid #bbb;
  padding-left: 5px;
  padding-right: 5px;
}

.sofa-name-header {
  border-left: 1px solid #bbb;
  padding-left: 5px;
  padding-right: 5px;
}

.sofa-namespace {
  border-left: 1px solid #bbb;
  padding-left: 5px;
  padding-right: 5px;
}

.sofa-namespace-header {
  border-left: 1px solid #bbb;
  padding-left: 5px;
  padding-right: 5px;
}

td.sofa-description {
  background-color: #A6ACB6;
  padding: 5px;
  border-left: 1px solid #bbb;
  white-space: pre;
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.class-base-name {
	font-family: Myriad, "Gill Sans", "Century Gothic", "Trebuchet MS", "Bitstream Vera Sans", verdana, lucida, arial, helvetica, sans-serif;
	color: black;
    font-weight: bold;
	border: 1px solid black;
	margin-left: 10px;
	padding: 2px;
}

.class-base {
	width: 10px;
	height: 10px;
	border: 1px solid black;
	font-size: 50%;
	vertical-align: middle;
	float: right;
}

.class-name {
	font-family: Myriad, "Gill Sans", "Century Gothic", "Trebuchet MS", "Bitstream Vera Sans", verdana, lucida, arial, helvetica, sans-serif;
	font-weight: bold;
	font-size : 110%;
	letter-spacing: 1px;
}

.class-alias {
	font-family: Myriad, "Gill Sans", "Century Gothic", "Trebuchet MS", "Bitstream Vera Sans", verdana, lucida, arial, helvetica, sans-serif;
	font-weight: bold;
	font-style: italic;
	font-size : 110%;
	letter-spacing: 1px;
}

.class-template {
        padding-left: 4px;
        padding-right: 4px;
        padding-right: 4px;
	font-size: 50%;
	vertical-align: middle;
	background-color: #555;
	color: #555;
	border: 1px solid black;
}

.class-template-default {
        padding-left: 4px;
        padding-right: 4px;
        padding-right: 4px;
	font-size: 50%;
	vertical-align: middle;
	background-color: #fff;
	color: #fff;
	border: 2px solid black;
}

.class-template-others {
        padding-left: 4px;
        padding-right: 4px;
        padding-right: 4px;
	font-size: 50%;
	vertical-align: middle;
	background-color: #555;
	color: #555;
	border: 1px solid black;
}

.class-no-template {
	font-size: 50%;
	vertical-align: middle;
}

.sofa-field-name-header {
  background-color: #A6ACB6;
  font-weight: bold;
  border-bottom: 2px solid #bbb;
  border-top: 1px solid #bbb;
  border-left: 2px solid #bbb;
  margin-bottom: 5px;
}

.sofa-field-type-header {
  background-color: #A6ACB6;
  font-weight: bold;
  border-bottom: 2px solid #bbb;
  border-left: 1px solid #bbb;
  border-top: 1px solid #bbb;
  border-right: 1px solid #bbb;
  margin-bottom: 5px;
}

.sofa-field-value-header {
  background-color: #A6ACB6;
  font-weight: bold;
  border-bottom: 2px solid #bbb;
  border-top: 1px solid #bbb;
  border-right: 1px solid #bbb;
  margin-bottom: 5px;
}

.sofa-field-name {
  border-left: 2px solid #bbb;
  padding-left: 5px;
  padding-right: 5px;
}

.field-name {
	font-family: Myriad, "Gill Sans", "Century Gothic", "Trebuchet MS", "Bitstream Vera Sans", verdana, lucida, arial, helvetica, sans-serif;
	font-weight: bold;
	font-size : 100%;
	letter-spacing: 1px;
}

.sofa-field-type {
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
  padding-left: 5px;
  padding-right: 5px;
}

.sofa-field-value {
  border-right: 1px solid #bbb;
  padding-left: 5px;
  padding-right: 5px;
}

td.sofa-field-description {
  background-color: #A6ACB6;
  padding: 5px;
  padding-left: 25px;
  border-left: 2px solid #bbb;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
}

.xml-element {
  color: #003370;
}

.xml-attribute {
  color: #007010;
}

.xml-string {
  color: #ee0030;
}

.xml-data {
  color: #ffffff;
}

.xml-entity {
  color: #ff22ff;
}

.xml-other {
  font-size: 80%;
}

.xml-comment {
  color: #aaaaaa;
  font-style: italic;
  background-color: #BBC;
}

.xml-button {
  margin: 0px;
  padding: 0px;
  width: 15px;
  font-size: 50%;
  font-weight: bold;
  background-color: #888;
  color: black;
  vertical-align: middle;
}

code {
	font-family: "Bitstream Vera Sans Mono", monaco, "Courier New", courier, monospace;
	font-size: 8pt;
	font-weight: normal;
	background: inherit;
	}

pre	{
	font-family: "Bitstream Vera Sans Mono", monaco, "Courier New", courier, monospace;
	font-size: 8pt;
	font-weight: normal;
	border: 1px solid #AAA;
	padding: 5px;
	background-color: #CCD;
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
	}
	
html code { /*  Work around IE/Win code size bug - courtesy Jesper, waffle.wootest.net  */
	font-size : 105%; 
	}

.code, .code div, .code div div
{ 
	display:inline-table;  
	display:block;
	position:relative; 
}

.code
{ 
	border: 0;
	margin-top: 4px;
	background:url(shadows/03/shadow.png) right bottom no-repeat;
} 

.code div
{
	border: 0;
	background:url(shadows/03/corner_bl.png) -12px 100% no-repeat;
}

.code div div
{
	margin: 0;
	border: 0;
	padding:0 9px 9px 0; 
	background:url(shadows/03/corner_tr.png) 100% -12px no-repeat;
} 

.code div div pre
{
	margin: 00;
}
