name: Post - SOFA dev meeting agenda/reminder

on:
  schedule:
    - cron: '30 8 * * 1'  # 9:30 am UTC+1 every Monday
    - cron: '30 7 * * 3'   # 8:30 am UTC+1 on Wednesdays
    - cron: '30 6 * * 3'   # 7:30 am UTC+1 on Wednesdays (for summer times)

env:
  TZ: "Europe/Paris"

jobs:
  run:
    runs-on: ubuntu-latest
    if: ${{ github.repository_owner == 'sofa-framework' }}

    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          pip install python-graphql-client
          pip install python-dateutil
          pip install requests
        working-directory: ${{ github.workspace }}

      # Monday message : request agenda info
      - name: Run script post-discord-message.py
        if: github.event.schedule == '30 8 * * 1'
        run: |
          python scripts/discord/post-discord-message.py
        working-directory: ${{ github.workspace }}
        env:
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_MAIN_WEBHOOK_URL }}
          MESSAGE : ":sunrise:  Morning, dear SOFA community! Next Wednesday takes place the weekly SOFA dev meeting:\n**_Any specific topic to share or to discuss?_** If so, please reply in this thread :speech_balloon: *Remember you can use the tag \"pr: dev meeting topic\" for your PRs*"
          BOT_NAME: "Meeting reminder"
          EMBEDS_TITLE: "Label \"pr: dev-meeting topic\""
          EMBEDS_URL: "https://github.com/sofa-framework/sofa/labels/pr%3A%20dev%20meeting%20topic"
          EMBEDS_DESCRIPTION: ""

      # Wednesday message : announce meeting and share link
      - name: Check time depending on winter/summer times
        if: ${{ (github.event.schedule == '30 7 * * 3') || (github.event.schedule == '30 6 * * 3') }}
        id: check_time
        run: |
          # Set the timezone to CET
          sudo ln -sf /usr/share/zoneinfo/Europe/Paris /etc/localtime
          sudo dpkg-reconfigure -f noninteractive tzdata

          # Get the current hour in CET
          current_hour=$(date +'%H')

          # Check if the current hour is 8 and set output
          if [ "$current_hour" -eq 8 ]; then
            echo "::set-output name=itstime::true"
          else
            echo "::set-output name=itstime::false"
          fi
      
      - name: Run script post-discord-message.py
        if: steps.check_time.outputs.itstime == 'true'
        run: |
          python scripts/discord/post-discord-message.py
        working-directory: ${{ github.workspace }}
        env:
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_MAIN_WEBHOOK_URL }}
          MESSAGE: "SOFA dev meeting is about to get started :tv: See you online!"
          BOT_NAME: "Meeting reminder"
          EMBEDS_TITLE: "SOFA dev visio link"
          EMBEDS_URL: "https://www.sofa-framework.org/sofa-dev-meeting"
          EMBEDS_DESCRIPTION: ""

