name: Post - Github activity (issues)

on:
  issues:
    types:
      - opened

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          pip install python-graphql-client
          pip install python-dateutil
          pip install requests
        working-directory: ${{ github.workspace }}

      # Issue related event
      - name: Run script post-discord-message.py for Issue opened
        run: |
          python scripts/discord/post-discord-message.py
        working-directory: ${{ github.workspace }}
        env:
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_MAIN_WEBHOOK_URL }}
          MESSAGE: ":space_invader:  New issue raised \"[${{github.event.issue.title}}](https://github.com/sofa-framework/sofa/issues/${{github.event.issue.number}})\" by [@${{github.event.issue.user.login}}](https://github.com/${{github.event.issue.user.login}})"
          BOT_NAME: "SOFA Github bot"
          EMBEDS_TITLE: "${{github.event.issue.title}}   (#${{github.event.issue.number}})"
          EMBEDS_URL: "https://github.com/sofa-framework/sofa/issues/${{github.event.issue.number}}"
          EMBEDS_DESCRIPTION: ""
